<form action="{% url 'SignIn:signup' %}" method="post">
{% csrf_token %}
<label for='ID'>Student ID </label>
<input type='text' id='ID', name='ID'><br>


<label for='Full_Name'>Full Name </label>
<input type='text' id='Name', name='Name'><br>

<label for='Nick_Name'>Nick Name </label>
<input type='text' id = 'nickname', name='nickname'><br>

<label for='Pass'>Password </label>
<input type='password' id = 'Pass', name='Pass'><br>

<label for='Pass'>Repeat Password </label>
<input type='password' id = 'pass_again', name='pass_again'><br>

<label for='Email'>Email </label>
<input type='email' id = 'email', name='email'><br>

<label for='Mobile No'>Mobile No </label>
<input type='tel' id = 'mobile', name='mobile'><br>

<label for='Date of Birth'>Date of Birth </label>
<input type='date' id = 'birth', name='birth'><br>

<input type="submit" value="Sign Up">

</form>