{% load static %}
{% load widget_tweaks %}



<link rel="stylesheet" type="text/css" href="{% static 'post/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'post/post.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'post/form.css' %}">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
<script>
    function setup() {
        document.getElementById('buttonid').addEventListener('click', openDialog);
        function openDialog() {
            document.getElementById('fileid').click();
        }
        document.getElementById('fileid').addEventListener('change', submitForm);
        function submitForm() {
            document.getElementById('formid').submit();
        }
    }
  </script> 
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'Profile/edit.css' %}">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
  
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <body onload="setup()">

    <div class="total-container">

        <div class="right-container">
            
            <div class="card  border-0" border: none> 
                <div class="row justify-content-center">
                  <div class="col-lg-3 order-lg-2">
                    
                  </div>
                </div>
                <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                  <div class="d-flex justify-content-between">
                    
                    
                  </div>
                </div>
                <div class="card-body pt-0 pt-md-4">
                  <!-- <div class="row">
                    <div class="col">
                      <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                        <div>
                          <span class="heading">0</span>
                          <span class="description">Friends</span>
                        </div>
                        <div>
                          <span class="heading">1</span>
                          <span class="description">Photos</span>
                        </div>
                        <div>
                          <span class="heading">0</span>
                          <span class="description">Comments</span>
                        </div>
                      </div>
                    </div>
                  </div> -->
                  
                  <div class="text-center">
                    
                    <div class="h5 font-weight-300">
                        
                              <img src="{{MEDIA_URL}}{{data.PHOTO}}" class="rounded-circle">             


                        {% if edit %}
                        <a href="#"></a>
                        <br>
                        <br>
                      <form id="formid" action="{% url 'Profile:edit_photo'  %}" method="post" enctype="multipart/form-data"> 
                        {% csrf_token %}
                        <p hidden>
                        {% render_field dp.file class="hidden" id="fileid" accept="image/x-png,image/gif,image/jpeg" %}
                        </p>
                        <input id='buttonid' class="btn btn-sm btn-info mr-4" type='button' value='Change Photo' /> 
                      </form> 
      
                      {% else %}
                        <a href="#" class="btn btn-sm btn-info mr-4">Connect</a>
                        <a href="#" class="btn btn-sm btn-info mr-4">Message</a>
                      {% endif %}
                      <br><br>
                      <a href="mailto:{{data.EMAIL}}"><i class="fa fa-at"></i></a>
                      {% if data.FACEBOOK %}
                          <a href="{{data.FACEBOOK}}"><i class="fa fa-facebook"></i></a>
                      {% endif %}
                      {% if data.FACEBOOK %}
                          <a href={{data.TWITTER}}><i class="fa fa-twitter"></i></a>
                      {% endif %}
                      {% if data.LINKEDIN %}
                          <a href={{data.LINKEDIN}}> <i class="fa fa-linkedin"></i></i></a>
                      {% endif %}
                      {% if data.GOOGLE_SCHOLAR %}
                          <a href={{data.GOOGLE_SCHOLAR}}><i class="fa fa-google-plus"></i>/i></a>
                      {% endif %}
                      {% if data.RESEARCHGATE %}
                          <a href={{data.RESEARCHGATE}}>R<i class="fa fa-researchgate"></i></i></a>
                      {% endif %}
                    </div>
                    <h3>
                      {{data.FULL_NAME}}
                      {% if data.AGE %}
                        <span class="font-weight-light">, {{data.AGE}}</span>
                      {% endif %}
                      
                    </h3>
                    <h4>Batch {{data.STD_ID|make_list|slice:":2"|join:''}}, Department of {{data.DEPT}}</h4>
                    <h5>{{data.HALL}} Hall</h5>
                    <br>
                    {% if data.LVL %}
                      <h6><b><i class="ni business_briefcase-24 mr-2"></i>Currently at {{data.LVL}}-{{data.TERM}}</b></h6>
                    {% else %}
                      <h6><b><i class="ni business_briefcase-24 mr-2"></i>Currently {{data.DESIGNATION|title }} at<i class="ni education_hat mr-2"></i>{{data.COMPANY}}</b></h6>
                    {% endif %}
                    <h6><b><i class="ni location_pin mr-2"></i>Currently live at {{data.CITY}}, {{data.COUNTRY}}<br></b></h6>
                    <br>
                    {{data.ABOUT}}<br>
                    
                    <hr class="my-4">
                    <div class="h5 mt-4">
                      
                    </div>
                    <div>
                      
                  <b>Work History</b><br>
                
                        {% for row in job %}
                            {{row.DESIGNATION}}, {{row.NAME}} ({{row.FROM_.year}}-
                            {% if row.TO_ %}
                              {{row.TO_.year}})
                            {% else %}
                              )
                            {% endif %}<br/>
                        {% endfor %}                                  
                      <br>
                      <hr class="my-4">
                      <b>Interests</b><br>
                      {% if edit %}
                        {% for key, value in skills.items %}
                            {{key}} ({{value}})<br/>
                        {% endfor %}
                      {% else %}
                        {% for key, value in skills.items %}
                            {{key}} ({{value}}) <a href="{% url 'Profile:endorse' std_id=data.STD_ID topic=key %}"><i class="fa fa-plus"></i></a><br/>
                        {% endfor %}
                      {% endif %}
                      
                    </div>
                    
                  </div>
                </div>
              </div>

            <!-- THIS DIV IS LEFT FOR JONY TO WORK ON -->

            

        </div>

        <div class="left-container">
            
            <div class="topnav" style="margin-bottom: 20px;">
                <a class="active" href="{% url 'post:all_post' start_from=1 change=0 %}">Post</a>
                <a href="#news">Event</a>
                <a href="#contact">Community</a>
            </div>

            {% if search_post_typ is None %}
                <form action="{% url 'post:all_post' start_from=1 change=2 %}" class="form-container">
                    <div class="column">
                        {% if search_std_id is None %}
                            <label for="search_std_id">Student ID</label>
                            <input type="text" name="search_std_id" value="">
                        {% else %}
                            <label for="search_std_id">Student ID</label>
                            <input type="text" name="search_std_id" value="{{search_std_id}}">
                        {% endif %}
                    </div>
                    
                    <div class="column">
                        <label for="search_post_typ">Post Type</label>
                        <select name="search_post_typ">
                            <option value="" selected disabled>Select an Item</option>
                            <option value="Help"> Help </option>
                            <option value="Career"> Career </option>
                            <option value="Research"> Research </option>
                            <option value="Job Post"> Job Post </option>
                        </select>
                    </div>
                    
                    <div class="column">
                        <input type="submit" value="Search">
                    </div>
                    
                </form>
            {% endif %}

            {% if search_post_typ == 'Help' %}
                <form action="{% url 'post:all_post' start_from=1 change=2 %}" class="form-container">
                    <div class="column">
                        {% if search_std_id is None %}
                            <label for="search_std_id">Student ID</label>
                            <input type="text" name="search_std_id" value="">
                        {% else %}
                            <label for="search_std_id">Student ID</label>
                            <input type="text" name="search_std_id" value="{{search_std_id}}">
                        {% endif %}
                    </div>
                    
                    <div class="column">
                        <label for="search_post_typ">Post Type</label>
                        <select name="search_post_typ">
                            <option value="Help" selected> Help </option>
                            <option value="Career"> Career </option>
                            <option value="Research"> Research </option>
                            <option value="Job Post"> Job Post </option>
                        </select>
                    </div>
                    
                    <div class="column">
                        <input type="submit" value="Search">
                    </div>
                    
                </form>
            {% endif %}

            {% if search_post_typ == 'Career' %}
                <form action="{% url 'post:all_post' start_from=1 change=2 %}" class="form-container">
                    <div class="column">
                        {% if search_std_id is None %}
                            <label for="search_std_id">Student ID</label>
                            <input type="text" name="search_std_id" value="">
                        {% else %}
                            <label for="search_std_id">Student ID</label>
                            <input type="text" name="search_std_id" value="{{search_std_id}}">
                        {% endif %}
                    </div>
                    
                    <div class="column">
                        <label for="search_post_typ">Post Type</label>
                        <select name="search_post_typ">
                            <option value="Help"> Help </option>
                            <option value="Career" selected> Career </option>
                            <option value="Research"> Research </option>
                            <option value="Job Post"> Job Post </option>
                        </select>
                    </div>
                    
                    <div class="column">
                        <input type="submit" value="Search">
                    </div>
                    
                </form>
            {% endif %}


            {% if search_post_typ == 'Research' %}
            <form action="{% url 'post:all_post' start_from=1 change=2 %}" class="form-container">
                <div class="column">
                    {% if search_std_id is None %}
                        <label for="search_std_id">Student ID</label>
                        <input type="text" name="search_std_id" value="">
                    {% else %}
                        <label for="search_std_id">Student ID</label>
                        <input type="text" name="search_std_id" value="{{search_std_id}}">
                    {% endif %}
                </div>
                
                <div class="column">
                    <label for="search_post_typ">Post Type</label>
                    <select name="search_post_typ">
                        <option value="Help"> Help </option>
                        <option value="Career"> Career </option>
                        <option value="Research" selected> Research </option>
                        <option value="Job Post"> Job Post </option>
                    </select>
                </div>
                
                <div class="column">
                    <input type="submit" value="Search">
                </div>
                
            </form>
            {% endif %}


            {% if search_post_typ == 'Job Post' %}
            <form action="{% url 'post:all_post' start_from=1 change=2 %}" class="form-container">
                <div class="column">
                    {% if search_std_id is None %}
                        <label for="search_std_id">Student ID</label>
                        <input type="text" name="search_std_id" value="">
                    {% else %}
                        <label for="search_std_id">Student ID</label>
                        <input type="text" name="search_std_id" value="{{search_std_id}}">
                    {% endif %}
                </div>
                
                <div class="column">
                    <label for="search_post_typ">Post Type</label>
                    <select name="search_post_typ">
                        <option value="Help"> Help </option>
                        <option value="Career"> Career </option>
                        <option value="Research"> Research </option>
                        <option value="Job Post" selected> Job Post </option>
                    </select>
                </div>
                
                <div class="column">
                    <input type="submit" value="Search">
                </div>
                
            </form>
            {% endif %}

            

            <div class="write-post-container">
                <a href="{% url 'post:make_post' %}">
                    <button>Write Post</button>
                </a>
            </div>


            {% if no_post %}
                <b> No Post to show </b><br>
            {% else %}

                {% if not is_begin %}
                    <a href="{% url 'post:all_post' start_from=prev_id change=1 %}">
                        <button class="previous" style="margin-top: 10px;">Previous</button>
                    </a>
                {% endif %}

                <div class="all-post">

                    <div class="profile-content">
                        <!-- begin tab-content -->
                        <div class="tab-content p-0">
                           <!-- begin #profile-post tab -->
                           <div class="tab-pane fade active show" id="profile-post">
                              <!-- begin timeline -->
                              <ul class="timeline">
                                {% for post_dict in post_dicts %}

                                    
                                    <li>
                                        
                                        <!-- begin timeline-time -->
                                        <div class="timeline-time">
                                            {% if post_dict.date == 'Just Now' %}
                                                <span class="date">{{post_dict.date}}</span>
                                            {% else %}
                                                <span class="date">{{post_dict.date}}</span>
                                                <span class="date">Ago</span>
                                            {% endif %}
                                        </div>
                                        <!-- end timeline-time -->
                                        <!-- begin timeline-icon -->
                                        <div class="timeline-icon">
                                        <a href="javascript:;">&nbsp;</a>
                                        </div>
                                        <!-- end timeline-icon -->
                                        <!-- begin timeline-body -->
                                        <div class="timeline-body">
                                        <div class="timeline-header">
                                            <span class="userimage"><img src="{{MEDIA_URL}}{{post_dict.photo_path}}" alt=""></span>
                                            <span class="username"><a href="{% url 'Profile:visit_profile' std_id=post_dict.user_id %}">{{post_dict.full_name}}</a> <small></small></span>
                                            <!-- <span class="pull-right text-muted">18 Views</span> -->
                                        </div>
                                        <div class="timeline-content">
                                            <p>
                                                {{post_dict.desc|truncatechars:100}} &emsp; <a href="{% url 'post:detail_post' post_id=post_dict.post_id start_from=1 %}"><b>See More</b></a>
                                            </p>
                                        </div>
                                        <div class="timeline-likes">
                                                <div class="stats">
                                                    {% if post_dict.num_comments == 0 %}
                                                        <span class="stats-text">0 Comments</span>
                                                    {% else %}
                                                        <a href="{% url 'post:detail_post' post_id=post_dict.post_id start_from=1 %}"><span class="stats-text">{{post_dict.num_comments}} Comments</span></a>
                                                    {% endif %}
                                                </div>
                                        </div>
                                        
                                        <div class="timeline-footer">
                                            <a  href="{% url 'post:detail_post' post_id=post_dict.post_id start_from=1 %}" class="m-r-15 text-inverse-lighter"><i class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a> 
                                            <div class="tags">
                                                <i class="fa fa-tag">   {{post_dict.class}}</i> 
                                            </div>
                                            
                                        </div>
                                        </div>
                                        <!-- end timeline-body -->
                                    </li>
                                    

                                    
                                {% endfor %}
                            
                
                              </ul>
                              <!-- end timeline -->
                            
                           </div>
                           <!-- end #profile-post tab -->
                        </div>
                        <!-- end tab-content -->
                    </div>

                    
                </div>
                
                
                {% if not the_end %}
                    <a href="{% url 'post:all_post' start_from=next_id change=1 %}">
                        <button class="next">Next</button>
                    </a>
                {% endif %}

            {% endif %}

            

        </div>

    </div>

</body>