
.total-container-inside .top-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.total-container-inside .top-container img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.total-container-inside .comment img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.total-container-inside > .top-container > .info-container > * {
    margin-top: 2px;
    margin-bottom: 2px;
}

.total-container-inside .top-container .info-container i{
    padding-left: 20px;
}

.total-container-inside .comment{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 20px;
}

.total-container-inside > .comment > .comment-text > * {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 10px;
}

.total-container-inside .comment .comment-text {
    width: 400px;
    border: gray;
    border-style: solid;
    border-radius: 10px;
}


textarea, input[type=select] {
    width: 100%;
    /* padding: 12px 20px; */
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



.timeline-comment-box {
    background: #f2f3f4;
    margin-left: -25px;
    margin-right: -25px;
    padding: 20px 25px
}



.timeline-comment-box .input {
    margin-left: 44px;
}
.form-control{
    background: #4a4a4a;
    border-color: #4a4a4a
}

.timeline-comment-box .input input[type="text"]{
    height: 25px;
}


.upload-comment-form{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    border-color: rgb(129, 121, 121);
    border-width: 1px;
    border-style: solid;
}